@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.horizontal-come-in {
  opacity: 0;
  transform: translateX(32px);
  animation: horizontal-come-in 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
@keyframes horizontal-come-in {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.appear-from-left-enter-active,
.appear-from-left-leave-active,
.appear-from-right-enter-active,
.appear-from-right-leave-active {
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
.appear-from-left-enter-to,
.appear-from-left-leave-from,
.appear-from-right-enter-to,
.appear-from-right-leave-from {
  opacity: 1;
  transform: translateX(0);
}
.appear-from-left-enter-from,
.appear-from-left-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}
.appear-from-right-enter-from,
.appear-from-right-leave-to {
  opacity: 0;
  transform: translateX(100%);
}

.animate-gradient-hover {
  background-size: 200% 200%;
  animation: none;
}
.group:hover .animate-gradient-hover {
  animation: gradient 4s ease infinite;
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: transform 0.3s ease;
}

.slide-up-enter-from,
.slide-up-leave-to {
  transform: translateY(100%);
}

.slide-up-enter-to,
.slide-up-leave-from {
  transform: translateY(0);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.slide-panel-enter-active,
.slide-panel-leave-active {
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.slide-panel-enter-from,
.slide-panel-leave-to {
  transform: translateX(100%);
}
.slide-panel-enter-to,
.slide-panel-leave-from {
  transform: translateX(0%);
}

.flip-enter-active,
.flip-leave-active {
  transition: transform 0.3s;
  backface-visibility: hidden;
  transform-origin: center;
}
.flip-enter-from,
.flip-leave-to {
  transform: rotateX(90deg);
}
.flip-enter-to,
.flip-leave-from {
  transform: rotateX(0deg);
}

/* Standings */

.standing-row-move,
.standing-row-enter-active,
.standing-row-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.standing-row-enter-from,
.standing-row-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.standing-row-leave-active {
  position: absolute;
  width: 100%;
}
