@font-face {
  font-family: 'NotoSansCondensed';
  font-weight: 400;
  font-display: block;
  font-style: normal;
  src: url('~/assets/fonts/NotoSansMono_SemiCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSansCondensed';
  font-weight: 900;
  font-display: block;
  font-style: normal;
  src: url('~/assets/fonts/NotoSansMono_SemiCondensed-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Posterama';
  font-weight: 900;
  font-display: block;
  font-style: normal;
  src: url('~/assets/fonts/Posterama_1984_W04_Black.ttf') format('truetype');
}

@theme {
  --font-noto: 'NotoSansCondensed';
  --font-posterama: 'Posterama';
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @apply font-[900];
}

.font-noto {
  font-family: var(--font-noto);
}

.font-posterama {
  font-family: var(--font-posterama);
}

.stroke-text {
  @apply italic font-[900] text-[white];
  text-shadow: -0.6px -0.6px 0 #000, 0.6px -0.6px 0 #000, -0.6px 0.6px 0 #000, 0.6px 0.6px 0 #000;
}

.text-stroke {
  text-shadow: -0.6px -0.6px 0 #000, 0.6px -0.6px 0 #000, -0.6px 0.6px 0 #000, 0.6px 0.6px 0 #000;
}

.font-mini {
  font-size: 0.5rem;
}
