:root {
  --sat: var(--sat-value, env(safe-area-inset-top, 0px));
  --sar: var(--sar-value, env(safe-area-inset-right, 0px));
  --sab: var(--sab-value, env(safe-area-inset-bottom, 0px));
  --sal: var(--sal-value, env(safe-area-inset-left, 0px));
  --app-padding-t: calc(var(--sat) + 2rem);
}

.safe-area-padding-top {
  padding-top: var(--app-padding-t);
}
