@import 'tailwindcss';

@source inline("bg-{red,blue,green,yellow,purple,pink,indigo,gray,orange,teal,cyan,lime,amber,emerald,fuchsia,rose,sky,violet,stone,neutral,zinc,slate}-500");
@source inline("bg-{red,blue,green,yellow,purple,pink,indigo,gray,orange,teal,cyan,lime,amber,emerald,fuchsia,rose,sky,violet,stone,neutral,zinc,slate}-500/50");

body::-webkit-scrollbar {
  display: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.main-container {
  @apply container mx-auto px-8;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flag {
  @apply box-content;
  clip-path: url(#flag);
}

.octagon {
  @apply box-content;
  clip-path: url(#octagon);
}
