@font-face {
  font-family: 'NotoSansCondensed';
  font-weight: 400;
  font-display: block;
  font-style: normal;
  src: url('~/assets/fonts/NotoSansMono_SemiCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSansCondensed';
  font-weight: 900;
  font-display: block;
  font-style: normal;
  src: url('~/assets/fonts/NotoSansMono_SemiCondensed-Black.ttf') format('truetype');
}

@theme {
  --font-noto: 'NotoSansCondensed';
}

* {
  @apply font-noto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @apply font-noto font-[900];
}

.text-stroke {
  text-shadow: -0.6px -0.6px 0 #000, 0.6px -0.6px 0 #000, -0.6px 0.6px 0 #000, 0.6px 0.6px 0 #000;
}
